*{
    background: rgb(112, 161, 179);
}

#gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'title title'
    'thirtyText thirty'
    'fourtyFiveText fourtyFive'
    'sixtyText sixty'
    'ninetyText ninety'
    'oneTwentyText oneTwenty'
    'oneThirtyFiveText oneThirtyFive'
    'oneFiftyText oneFifty'
    'oneEightyText oneEighty'
    'twoTenText twoTen'
    'twoTwentyFiveText twoTwentyFive'
    'twoFourtyText twoFourty'
    'twoSeventyText twoSeventy'
    'threeHundredText threeHundred'
    'threeFifteenText threeFifteen'
    'threeThirtyText threeThirty'
    'threeSixtyText threeSixty';
}

.textContent {
    transition: all 1.75s;
    text-align: center;
    font-size: 45px;
    justify-self: center;
    align-self: center;
}

.content {
    transition: all 1.75s;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}



#unitCircle{
    border-radius: 50%;
    background-image: conic-gradient(
        deepskyblue 8.33%,  
        blue 8.33%,
        blue 12.85%,
        magenta 12.85%,
        magenta 16.97%,
        purple 16.97%, 
        purple 25.3%, 
        crimson 25.3%,
        crimson 33.63%,
        red 33.63%,
        red 37.75%,
        orangered 37.75%,
        orangered 41.87%,
        orange 41.87%,
        orange 50.2%,
        yellow 50.2%,
        yellow 58.53%,
        greenyellow 58.53%,
        greenyellow 62.65%,
        yellowgreen 62.65%,
        yellowgreen 66.77%,
        green 66.77%,
        green 75.1%,
        darkgreen 75.1%,
        darkgreen 83.43%,
        darkcyan 83.43%,
        darkcyan 87.55%,
        aquamarine 87.55%,
        aquamarine 91.67%,
        aqua 91.67%,
        aqua 100%  
    );
}

#thirty{
    transform: rotate(60deg);
    background-image: conic-gradient(
        purple 8.33%,
        black 8.33%
    );   
    grid-area: thirty;
}

#fourtyFive{
    transform: rotate(45deg);
    background-image: conic-gradient(
        magenta 12.5%,
        black 12.5%
    );   
    grid-area: fourtyFive;
}
  
#sixty{
    transform: rotate(30deg);
    background-image: conic-gradient(
        blue 16.7%,
        black 16.7%
    );   
    grid-area: sixty;
}

#ninety{
    transform: rotate();
    background-image: conic-gradient(
        deepskyblue 25%,
        black 25%
    );   
    grid-area: ninety;
}

#oneTwenty{
    transform: rotate(-30deg);
    background-image: conic-gradient(
        aqua 33.33%,
        black 33.33%
    );   
    grid-area: oneTwenty;
}

#oneThirtyFive{
    transform: rotate(-45deg);
    background-image: conic-gradient(
        aquamarine 37.5%,
        black 37.5%
    );   
    grid-area: oneThirtyFive;
}

#oneFifty{
    transform: rotate(-60deg);
    background-image: conic-gradient(
        darkcyan 41.7%,
        black 41.7%
    );  
    grid-area: oneFifty;
}

#oneEighty{
    transform: rotate(-90deg);
    background-image: conic-gradient(
        darkgreen 49.999%,
        black 49.999%         
        /* For some reason 50% doesnt make the line a straight 180* angle. It leaves a pixel of black where green should be. */
    );  
    grid-area: oneEighty;
}

#twoTen{
    transform: rotate(-120deg);
    background-image: conic-gradient(
        green 58.35%,
        black 58.35%
    );   
    grid-area: twoTen;
}

#twoTwentyFive{
    transform: rotate(-135deg);
    background-image: conic-gradient(
        yellowgreen 62.5%,
        black 62.5%
    );   
    grid-area: twoTwentyFive;
}

#twoFourty{
    transform: rotate(-150deg);
    background-image: conic-gradient(
        greenyellow 66.66%,
        black 66.66%
    );
    
    grid-area: twoFourty;
}

#twoSeventy{
    transform: rotate(-180deg);
    background-image: conic-gradient(
        yellow 75%,
        black 75%
    );  
    grid-area: twoSeventy;
}

#threeHundred{
    transform: rotate(-210deg);
    background-image: conic-gradient(
        orange 83.33%,
        black 83.33%
    );   
    grid-area: threeHundred;
}

#threeFifteen{
    transform: rotate(-225deg);
    background-image: conic-gradient(
        orangered 87.55%,
        black 87.55%
    );   
    grid-area: threeFifteen;
}

#threeThirty{
    transform: rotate(-240deg);
    background-image: conic-gradient(
        red 91.67%,
        black 91.67%
    );   
    grid-area: threeThirty;
}

#threeSixty{
    transform: rotate(-270deg);
    background-color: crimson;
    grid-area: threeSixty;
}

.thirtyText{
    grid-area: thirtyText;
}

.fourtyFiveText{
    grid-area: fourtyFiveText;
}

.sixtyText{
    grid-area: sixtyText;
}

.ninetyText{
    grid-area: ninetyText;
}

.oneTwentyText{
    grid-area: oneTwentyText;
}

.oneThirtyFiveText{
    grid-area: oneThirtyFiveText;
}

.oneFiftyText{
    grid-area: oneFiftyText;
}

.oneEightyText{
    grid-area: oneEightyText;
}

.twoTenText{
    grid-area: twoTenText;
}

.twoTwentyFiveText{
    grid-area: twoTwentyFiveText;
}

.twoFourtyText{
    grid-area: twoFourtyText;
}

.twoSeventyText{
    grid-area: twoSeventyText;
}

.threeHundredText{
    grid-area: threeHundredText;
}

.threeFifteenText{
    grid-area: threeFifteenText;
}

.threeThirtyText{
    grid-area: threeThirtyText;
}

.threeSixtyText{
    grid-area: threeSixtyText;
}

#title{
    transition: all 1.75s;
    grid-area: 'title';
    text-align: center;
    font-size: 24px;
    justify-self: center;
    align-self: center;
}

#degreeInfo{
    text-align: center;
}
