*{
    background: rgb(52, 190, 237)
}

#degreeInfo{
    text-align: center;
}

button{
    position: absolute;
    display: block;
    margin: auto;
    border: 4px black solid;
    transition: all 1.75s;
    height: 500px;
    width: 500px;
}

.allcircleElements{
    height: 500px;
    position: relative;
}

.circleContainer{
    position: absolute;
    border-radius: 100%;
}

.content{
    border-radius: 100%;
    margin: auto;
    clip: rect(0px, 500px, 500px, 250px);
}

#thirty{
    background-color: rgb(255, 0, 0);
    transform: rotate(90deg)
}

#fourtyFive{
    background-color: rgb(255, 247, 0);
    transform: rotate(120deg);
}

#sixty{
    background-color: rgb(0, 0, 255);
    transform: rotate(135deg);
}

#ninety{
    background: rgb(0, 191, 255);
    transform: rotate(150deg);
    border: 4px black solid;
}

#oneTwenty{
    background: rgb(30, 255, 0);
    transform: rotate(180deg);
}

#oneThirtyFive{
    background: rgb(250, 1, 138);
    transform: rotate(210deg);
}

#oneFifty{
    background: rgb(149, 0, 255);
    transform: rotate(225deg);
}

#oneEighty{
    background: rgb(15, 79, 196);
    transform: rotate(240deg);
    border: 4px black solid;
}

#twoTen{
    background: rgb(255, 0, 68);
    transform: rotate(270deg);
}

#twoTwentyFive{
    background: rgb(0, 255, 94);
    transform: rotate(300deg);
}

#twoFourty{
    background: rgb(255, 62, 62);
    transform: rotate(315deg);
}

#twoSeventy{
    background: rgb(110, 77, 255);
    transform: rotate(330deg);
    border: 4px black solid;
}

#threeHundred{
    background: rgb(255, 102, 1);
    transform: rotate(360deg);
    
}

#threeFifteen{
    background: rgb(210, 110, 250);
    transform: rotate(390deg);
}

#threeThirty{
    background: rgb(62, 243, 204);
    transform: rotate(405deg);
}

#threeSixty{
    background: rgb(91, 80, 240);
    transform: rotate(420deg);
    border: 4px black;
}
